.body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  justify-content: flex-start;
}

.llm-layout-wrapper{
  height: 100vh;
  .header-wrapper{
    display: flex;
    align-items: center;
  }
  .header-logo{
    padding-right: 10px;
    div{
      width: 293px;
      height: 31px;
      background-image: url('./../assets/logo.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }
  }
  .header-tabs{
    padding-left: 10px;
    padding-top: 10px;
  }
  .header-history{
    position: absolute;
    right: 20px;
    top: 5px;
    .ant-btn{
      font-weight: 500;
      padding: 0 15px;
    }
  }
  .ant-layout-header{
    background: transparent;
    padding: 0 10px;
  }
  .ant-tabs-tab-active{ 
    font-weight: bold;
  }
}
.history-item{
  margin-bottom: 20px;
  .history-item-header{
    display: flex;
    font-size: 14px;
    font-weight: bold;
    color: #303133;
    .history-item-header-collapse{
      padding-left: 10px;
    }
  }
  .ant-divider-horizontal{
    margin: 24px 0!important;
  }
}
