/* @import '~antd/dist/antd.dark.css'; */
#root {
  height: 100%;
}
.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
  width: 100px;
}

.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) ' ';

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}

.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}

.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  border: 1px solid black;
  padding: 0.5rem;
  font: inherit;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

.core-context-menu {
  display: none;
  position: absolute;
  width: 130px;
  background-color: white;
  box-shadow: 0 0 5px grey;
  border-radius: 3px;
  z-index: 1;
}

.core-context-menu button {
  width: 100%;
  background-color: white;
  border: none;
  margin: 0;
  padding: 6px;
}

.core-context-menu button:hover {
  background-color: lightgray;
}

/* 改写antd样式 */
.ant-menu {
  background: transparent;
}
.ant-popover-arrow {
  display: none;
}
.ant-drawer-title {
  font-weight: 700;
}
.gpu_params {
  background: #f5f7fa;
  padding: 15px;
  border-radius: 4px;
  font-size: 12px;
  margin-bottom: 20px;
}
.gpu_params .gpu_params_item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.gpu_params .gpu_params_item .gpu_params_label {
  width: 70%;
}
.gpu_params .gpu_params_item .gpu_params_value {
  font-weight: bold;
}
.gpu_params .gpu_params_item .number_controls {
  width: 150px;
}
::-webkit-scrollbar {
  width: 4px !important;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #666;
}
